PROJECT_NAME=independent_wordpress

WORDPRESS_PORT=8080
PHPMYADMIN_PORT=8081

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me-local-password
WORDPRESS_TABLE_PREFIX=wp_

MYSQL_ROOT_PASSWORD=change-me-local-root-password
